[submodule "ecomm/services/micro-cart-service"]
	path = ecomm/services/micro-cart-service
	url = https://github.com/ncornag/micro-cart-service.git
	branch = develop
[submodule "ecomm/services/micro-stock-service"]
	path = ecomm/services/micro-stock-service
	url = https://github.com/ncornag/micro-stock-service.git
	branch = develop
[submodule "ecomm/services/micro-oauth-service"]
	path = ecomm/services/micro-oauth-service
	url = https://github.com/ncornag/micro-oauth-service.git
	branch = develop
[submodule "ecomm/services/micro-catalog-service"]
	path = ecomm/services/micro-catalog-service
	url = https://github.com/ncornag/micro-catalog-service.git
	branch = develop
